.hero .btn {
  margin-bottom: 1rem;
}

.buy-button {
}

.buy-button img {
  height: 3rem;
}

#statehouse-logo-white {
  display: none;
}

@media (min-width: 768px) {
  #statehouse-logo {
    display: none;
  }

  .navbar.active #statehouse-logo {
    display: inline-block;
  }

  #statehouse-logo-white {
    display: inline-block;
  }

  .navbar.active #statehouse-logo-white {
    display: none;
  }

  #hamburger {
    border-color: white;
  }

  #hamburger i {
    color: white;
  }

  .navbar.active #hamburger {
    border-color: #333;
  }

  .navbar.active #hamburger i {
    color: #333;
  }

  .nav-link {
    color: white !important;
    opacity: 0.7;
  }

  .nav-link.active {
    opacity: 1;
  }

  .navbar.active .nav-link {
    color: #333 !important;
  }
}
